body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-family: "Yeseva One", cursive;
  font-size: 75px;
  font-weight: 500;
  border-left: 5.5px solid orange;
  padding-left: 20px;
  border-radius: 2px;
  margin-top: 25%;
}
h2 {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}
h3 {
  font-size: 30px;
}
.first-part-paragraph {
  padding-right: 30%;
  margin: 5% 2% 5% 0;
}
.my-mission-paragraphs {
  padding-right: 8%;
  padding-bottom: 10%;
}
.tomato-color-text {
  color: tomato;
}
.flexible-container {
  display: flex;
  margin-bottom: 5%;
  padding-left: 7%;
  margin-left: 1%;
  margin-right: 8%;
}
.half-width {
  width: 50%;
}
.half-width img {
  width: 70%;
}
.anchor-button {
  text-decoration: none;
  background-image: linear-gradient(45deg, lightsalmon, tomato);
  padding: 15px 40px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}
.my-mission-text-position {
  text-align: center;
}
.my-mission-list {
  width: 33.33%;
  padding-left: 2%;
  margin-left: 2%;
}
.my-mission-list img {
  padding-top: 10%;
  width: 40%;
}
#mission-block {
  background-color: rgb(232, 248, 248);
  border-radius: 30px;
}
#vission-block {
  background-color: rgb(253, 233, 236);
  border-radius: 30px;
}
#goals-block {
  background-color: rgb(245, 242, 212);
  border-radius: 30px;
}
footer {
  background: black;
}
.footer-content {
  text-align: center;
  padding: 25px;
}
.footer-content h2 {
  color: aliceblue;
  font-size: 40px;
}
.footer-content p {
  color: gainsboro;
}
