body {
  font-family: "Yeseva One", cursive;
  font-weight: 400;
}

.red-color {
  color: red;
}
.flexible-container {
  display: flex;
}
.half-width {
  width: 50%;
}
.half-width img {
  width: 55%;
  color: lightsalmon;
}
.anchor-button {
  text-decoration: none;
  background-image: linear-gradient(lightsalmon, tomato);
  padding: 15px 40px;
  color: whitesmoke;
  border-radius: 5px;
}
