body {
  font-family: "Yeseva One", cursive;
}
h1 {
  font-size: 50px;
  font-weight: 500;
  border-right: 5pd solid;
  border-left: 5px solid;
  border-image: linear-gradient(cyan, darkblue);
  border-image-slice: 10%;
}
.red-color {
  color: red;
}
.flexible-container {
  display: flex;
}
.half-width {
  width: 50%;
  padding: 9%;
  margin-left: 2%;
  font-size: 40px;
}
.half-width img {
  width: 50%;
}
.anchor-button {
  text-decoration: none;
  background-image: linear-gradient(lightsalmon, tomato);
  padding: 15px 40px;
  color: whitesmoke;
  border-radius: 5px;
}
